:root{
    --bordercolor : #9d9d9d;
    --dark-color: #67625c;
    --danger: #ff000024;
    --myPirmary :#6bd098;
    --transPrimary: #6bd09891;
}
a:hover{
    color: var(--bordercolor) !important;
}
.text-right{
    text-align: right;
}
.add-new-btn{
    position: absolute;
    right: 16px;
}
.card-body{
    position: relative;
}
.objFit-contain{
    object-fit:contain !important ;
}
.blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff3b;
    z-index: 10000;
    backdrop-filter: blur(5px);
    max-width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}
.blur-bg .card {
    background-color: #8c0000;
    color: #ffffff;
}
.blur-bg .card .btn.btn-link{
    color: #ffffff;
}
.blur-bg .card .btn.btn-link:hover{
    color: var(--dark-color) !important;
    background: #fff !important;
    padding: 0 10px !important;
}
#uploadMedia{
    display: none;
}
.dropzone {
    border: 2px dashed rgba(0,0,0,.3) !important;
    border-radius: 5px;
}
.objFit{
    min-height: 175px;
    object-fit: cover;
    object-position: center;
    max-height: 175px;
    width: 165px;
}
:checked+label .img-thumbnail {
    border-color: #009eed;
}
.btn{
    padding: 5px 15px;
}
.toolbar .navbar{
    min-height: auto;
}
.btn:disabled,
.btn-outline-primary:disabled{
    border-color: var(--bordercolor) !important;
    color: var(--bordercolor);
}
#mediaModel, #selectMediaModel{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 3%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: none;
}
#model-body {
    background: #fff;
    max-height: calc(100vh - 75px);
    overflow: hidden;
    width: 100%;
    padding: 20px;
}
#model-body img {
    width: 100%;
    max-height: calc(100vh - 145px);
    object-fit: contain;
}
#model-body hr{
    border-color:var(--bordercolor);
}
#model-body .col-sm-5 {
    border-left: 1px solid var(--bordercolor);
    overflow-y: scroll;
    height: calc(100vh - 145px);
    box-shadow: inset 0 4px 4px -4px rgb(0 0 0 / 36%);
}
#model-body .form-group{
    display: grid;
}
#model-body .form-group label{
    font-size: 12px;
    font-weight: 600;
}
.images-details p {
    font-size: 12px;
    font-weight: 600;
}
.images-details p span{
    font-size: 12px;
    font-weight: 500;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 10px;
    background: var(--danger);
    opacity: 1;
    z-index: 1;

}
.close:hover{
    opacity: 1;
    color: #fff;
    background: #f00;
}
.showModel, .cursor-pointer{
    cursor: pointer !important;
}
.card-title, .table-sort thead {
    background: var(--myPirmary);
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px var(--transPrimary);
}
.card-title, .table-sort  thead tr th{
    color: #fff;
    padding-right: 12px !important;
}
.justify-content-evenly {
    justify-content:space-evenly;
}
.justify-space-between {
    justify-content: space-between;
}
#showImageAjax #uploadMedia {
    padding: 0 15px;
}

#showImageAjax .card.card-plain {
    background: #fff;
    margin-bottom: 0;
    padding: 0 17px;
}
#showImageAjax .card, #showImageAjax .card.card-plain{
    border-radius: 0;
}
#showImageAjax  #media{
    padding: 10px 4vw;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

#toggle-side-menu {
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
    padding: 3px 10px 1px;
    margin: 0 10px 0px 0px;
    cursor: pointer;
}
#toggle-side-menu i {
    font-size: 22px;
}
.ck.ck-balloon-panel, .ck .ck-widget .ck-widget__type-around__button {
    z-index: 10000000 !important;
}
#editor{
    border: 1px solid #ddd !important;
    min-height: 400px;
}
.ck .ck-widget .ck-widget__type-around__button.ck-widget__type-around__button_before{
    transform: translateY(25%) !important;
}
.ck .ck-widget .ck-widget__type-around__button.ck-widget__type-around__button_after{
    transform: translateY(-35%) !important;
}

form h6 {
    color: #707070;
    text-transform: capitalize;
    font-weight: 400;
}
form .objFit{
    width: auto;
}
.card #editor .image{
    overflow: visible;
    height: auto;
}
.tags {
    background: #b9b9b9;
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 2px;
}
.flex-with-wrap {
    display: flex;
    flex-wrap: wrap;
}

.font-18{
    font-size: 18px;
}

.form-switch .form-check-input, .form-switch .form-check-input:checked:hover{
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: var(--danger) ;
    border:none;
    cursor: pointer;
}

.form-switch .form-check-input:checked, .form-switch .form-check-input:hover{
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-color: var(--transPrimary);
    border: none ;
}

.form-switch .form-check-input:focus{
    border: none;
    box-shadow: none;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
